<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false" scanPeriod="30 seconds">
    <property name="APP_NAME" value="vbbs" />
    <property name="DEPLOY_DIR" value="/mnt/deploy" />
    
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%C{16}.%method] -> %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="APPLOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEPLOY_DIR}/logs/log-${APP_NAME}.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] [%C{16}.%method] -> %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${DEPLOY_DIR}/logs/log-${APP_NAME}-%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>3</maxHistory>
		</rollingPolicy>
	</appender>

	
	<logger name="com.aboo.vbbs" level="DEBUG" additivity="true" />
    <logger name="org.apache.ibatis" level="DEBUG" additivity="true" />
	
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="APPLOG"/>
	</root>
</configuration>